@font-face {
  
  font-family: "Apache";
  
src: url("../Fonts/AldotheApache.ttf");
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  background-color:rgb(9, 26, 50);
}
header{
}
.Title{
  width: 20%;
  font-family: "Apache","Arial";
  text-align: center;
  font-size: 390%;
  padding: 5px;
  color: white;

  transition: 400ms;
}
.ContTitle{
 display: block;
 text-align: center;
 margin-top: 10px;
 margin-bottom: 20px;
}
.ContTitle object{
  width: 40vw;
}
.Navegador ul{
  animation-delay: 400ms;
  list-style: none;
  text-align: center;
}

.Navegador li{
  display: inline-block;
  text-align: center;
  transition: 400ms;
}
.Navegador li:hover{
transform: translateY(0.5em);
}
.Navegador li a{
    font-family: "Apache","Arial";
    font-size: 2em;
    padding: 2px 7px 2px 7px;
    color: white;
    background-color: rgba(26, 53, 91, 1);
    text-decoration: none;
    box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.75);
    
}
.Navegador li a:hover{
  background-color: black;
}

.article{
  margin-top: 2em;
}
.contenedor{
  display: inline-flex;
}
.contenedor a{
  width: 200px;
  height: 200px;
  display: inline-flex;
  flex-direction: column;
  background-color: red;
}

.image{
  width: 120px;
  padding-top: 10px;
}
.row{
  margin: 10px 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-flow: wrap;
}
.card{
  width: 200px;
  background-color: rgba(26, 53, 91, 1);
  border: 1px solid rgba(26, 53, 91, 1);
  margin-bottom: 50px;
  margin-left:1px;
  text-align: center;
  padding: 8px 30px;
  text-decoration: none;
  color: white;
  font-family: "Apache";
  font-size: 40px;
  box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.75);
  transition: 400ms;
}
.card:hover{
  transform: translateY(0.25em);
}
.cardHidden{
  width: 200px;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  margin-left:1px;
  text-align: center;
  visibility: hidden;
}
.cardBody{
  text-align: center;
}

.cardBody p{
  padding-top: 0px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(26, 53, 91, 1);
  color: white;
  text-align: center;
  font-family: "Apache","Arial";
  font-size: 30px;
}

@media only screen and (max-width: 1200px){
.ContTitle object{
  width: 50vw;
}
@media only screen and (max-width: 1000px){
.ContTitle object{
  width: 50vw;
}
}

@media only screen and (max-width: 800px){
.ContTitle object{
  width: 70vw;
}
@media only screen and (max-width: 500px){
.ContTitle object{
  width: 90vw;
}
}